<!-- views/index.ejs -->
<link rel="stylesheet" href="/css/posts.css">
<div class="container">
    <h1>Blog Posts</h1>
    <form action ="/" method="GET">
        <button type = "submit">Create a New Post</button>
    </form>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <small><%= post.author %> - <%= post.createdAt.toDateString() %></small>
                <div class="button-container">
                    <form action="/delete/<%= post.postId %>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/edit_p/<%= post.postId %>" method="GET">
                        <button type="submit" >Update</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>

